body {
  overflow: hidden;
  min-height: 100vh;
  cursor: crosshair;
}

.bubble {
  background: rgba(255, 166, 0, 0.675);
  border-radius: 300px;
  position: absolute;
  animation: goup 8s forwards;
  opacity: 0;
  filter: hue-rotate(0deg);
}

@keyframes goup {
  to {
    top: -250px;
    opacity: 1;
    filter: hue-rotate(700deg);
    left: var(--left);
  }
}

h1 {
  font-style: 10rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: linear-gradient(45deg, #593cff, #f75ed3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid black;
  padding: 15px;
  margin: 20px;
  border-radius: 20px;
}

h3 {
  font-size: 10rem;
  text-align: center;
  margin-top: 200px;
  color: rgba(90, 90, 90, 0.367);
}
